.nav__logo{
  width: 100px;
}

// Top nav bar
.topNav{
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, black, transparent);
  z-index: 10;
  select{
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 20px;
  }
}

.header-right{
  padding: 5px 15px;
}
// home banner
.home-banner{
  height: 100vh;
  overflow: hidden;
  h1{
    font-size: 3.125rem;
  }
  h2{
    font-size: 1.625rem;
  }
  .shadow{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  img{
    max-width: 100%;
  }
  .our-story{
    position: absolute;
    color: white;
    text-align: center;
    top: 35%;
    width: 600px;
    left: calc(50% - 300px);
    z-index: 1;
  }
  .input-group{
    button{
      font-size: 1.5rem;
      padding: .2rem 1.5rem;
      border: 0;
      height: 54px;
      font-weight: normal;
      background-color: red;
      margin-left: 220px;
    }
  }
}

// Login Page
.login{
  height: 100vh;
  overflow: hidden;

  .holder{
    padding: 60px 68px 40px;
    background-color: black;
    min-height: 460px;
    width: 450px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    left: calc(50% - 225px);

    input{
      background-color: #333;
      border: 0;
      margin-bottom: 20px;
      color: #fff;

       &::placeholder{
        color: #fff;      // placeholder text color
        opacity: 0.8;
       }
       input :focus{
        outline: none;
        background-color: #454545 ;
       }
    }
    button {
    width: 100%;          // full width like Netflix 
    padding: 10px;        // makes it taller
    font-size: 12px;      // larger text
    font-weight: 600;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }
  }
  .shadow{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  img{
    max-width: 100%;
  }
  .login-form-other{
    .login-signup-now {
      color: #737373;
      font-size: 16px;
      font-weight: 500;
      margin-top: 16px;
      a {
        color: #fff;
      }
    }
  }
}

// Banner
.banner {
  background-image:linear-gradient( to bottom,
      rgba(0,0,0,0),
      rgba(0,0,0,0.6),
      #111),
   url("https://image.tmdb.org/t/p/original//hVMoqvXs5j9ffun56tZ5YhliSD9.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  height:450px;
  object-fit: contain;
  position: relative;

  .banner__contents {
    height: 190px;
    margin-left: 30px;
    padding-top: 140px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner__description {
    font-size: 12px;
    height: 80px;
    line-height: 1.3;
    line-height: 24px;
    max-width: 360px;
    padding-top: 1rem;
    width: 45rem;

      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }
  
  .banner__button {
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    outline: none;
    padding: 0.5rem 2rem;
  }
  
  .banner__button:hover {
    background-color: #e6e6e6;
    color: #000;
    transition: all 0.2s;
  }
  
  .banner--fadeBottom {
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(0, 0, 0, 0.61),
      #111
    );
    height: 7.4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

// List
.list{
  >.row{
    flex-direction: column;
    margin: 0;
  }
  .title{
    margin: 30px;
    margin-bottom: 0;
  }
  .row_posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0 20px 0;
  }
  .row_poster{
    height: 250px;
    width:150px;
  }
  
  .row_posters::-webkit-scrollbar {
    display: none;
  }
  
  .row_poster {
    margin-right: 10px;
    max-height: 300px; 
    object-fit: contain;
    opacity: 0.8;
    transition: transform 0.45s;
    width: 100%;
  }
 
  
  .row_poster:hover {
    cursor: pointer;
    opacity: 1;  
    transform: scale(1.08);
  }
  
  .row_posterLarge {
    max-height: 210px;
  }
  
  .row_posterLarge:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}

// MovieModel css
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: #000;
  width: 50%;
  max-height: 70vh;
  border-radius: 8px;
  overflow: hidden;
  // overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-banner {
  width: 100%;
  height: 40vh;
  // margin: auto;
  object-fit: cover;
}

.modal-content {
  padding: 12px  15px;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content p {
  font-size: 11px;
  line-height: 1.4;
  max-height: 55px;          /* prevent long text */
  // overflow: hidden;
  text-overflow: ellipsis;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.btn-play {
  background: #e50914;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2px;
}

@media (max-width: 768px) {
  .modal-container {
    width: 65%;
    height: 60vh;
  }

  .modal-banner {
    height: 20vh;
  }

  .modal-content p{
    font-size: 11px;
  }

  
}

//search css
.search-page {
  padding: 0px 15px;
  background: black;
  min-height: 100vh;
}

.search-top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.back-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.search-input {
  width: 60%;
  padding: 7px;
  font-size: 18px;
  background: #111;
  // border: 2px solid #fff;
  // background-color: #737373;
  color: white;
  margin-bottom: 30px;
  outline: none;
  border-radius: 10px;
}

.search-btn {
  // background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.row_poster{
  height: 250px;
  width: 150px;
  padding: 10px;
}
